body {
    font-family: 'Roboto', sans-serif;
    margin-left: 6%;
}

#barralateral {
    position: sticky !important;
    margin-left: -6%;
    border-right: 0%;
    width: 93px;
    min-height: 100vh;
    display: inline-block;
    background: #9900cc;
    border-radius: 0px 30px 30px 0px;
    left: 0;
    top: 0;
    /* transition: all 300ms linear; */
}

#LogoWeb,
ul,
li {
    display: block;
    margin-right: 0;
    width: 70px;
    height: auto;
    padding: 5px;
}