body {
    font-family: 'Roboto', sans-serif;
}

#headerprincipal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#barralateral {
    position: sticky !important;
    width: 10vh;
    display: inline-block;
    margin-left: -1%;
    height: 100vh;
    background: #9900cc;
    border-radius: 0px 30px 30px 0px;
    left: 0;
    top: 0;
    order: 0;
    padding-right: 1%;
    /* transition: all 300ms linear; */
}

#inicio {
    display: inline-block;
    order: 1;
    top: 0;
    margin-left: 10px;
    overflow: scroll;
    width: 100vh;
    height: 100vh;
}

#cmpe {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#oss, #fc {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

#barralateral>ul,
li,
#LogoWeb {
    width: 60px;
    height: auto;
    align-items: center;
    padding: 3px 0px 0px 4px;
}

#asset1 {
    position: sticky;
    max-width: 99%;
    height: 99%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#HTML,
#CSS,
#JS {
    width: 10%;
    height: auto;
}
